$color-background: #252524;
$color-background-inactive: rgba(128, 128, 128, 0.2);
$color-background-inputs: rgba(238, 255, 0, 0.1);
$color-background-inputs-focus: rgba(0, 225, 225, 0.2);

$color-alt: #eeff00;
$color-reset: #ff0000;
$color-alt-hover: #00e1ff;
$color-accept: #1eff00;
$color-inactive: #808080;
$color-alt-placeholder: rgba(238, 255, 0, 0.3);
$color-alt-placeholder-focus: rgba(0, 225, 225, 0.3);